<section>
    <img class="logo" src="assets/icons/logo_lasar.svg" alt="" />
    <nav class="menu-box">
      <div class="custom-select-container">
        <div class="custom-select" (click)="toggleDropdown()">
          <div class="custom-select-trigger">
            <img [src]="selectedFlag" alt="" class="flag" />
          </div>
          <div [ngClass]="{ 'd-none': !dropdownOpen }" class="custom-options">
            <div
              class="custom-option"
              *ngFor="let option of languageOptions"
              (click)="selectLanguage(option, $event)"
            >
              <img [src]="option.flag" alt="" class="flag" />
            </div>
          </div>
        </div>
      </div>
      <img
        class="burger"
        src="../../assets/icons/hamburger_animation/burger_01.svg"
        alt=""
      />
    </nav>
  </section>
