<section>
    <button><a routerLink="/">Back</a></button>
  <h1>Impressum</h1>
  <h2 id="m46">Diensteanbieter</h2>
  <p>Annette Lasar</p>
  <p>Buchfeldstraße 19</p>
  <p>74632 Neuenstein</p>
  <p>Deutschland</p>

  <h2 id="m56">Kontakt&shy;möglichkeiten</h2>
  <p>E-Mail-Adresse: <a href="mailto:a_lasar@web.de">a_lasar&#64;web.de</a></p>
  <p>Telefon: 015170145561</p>

  <p class="seal">
    <a
      href="https://datenschutz-generator.de/"
      title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
      Schwenke</a
    >
  </p>
</section>
