@import "../../../scss-styles/variables.scss";

section {
  padding: 0 1em;
  border: blue 1px solid;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.introduction {
  max-width: 600px;
  margin: 0 auto 2em;
}

p, ul, button {
  font-family: $text-font-family;
}

img {
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
  }
}
